<h1>Welcome, <%= @user.username %>!</h1>
<br>
<h3>Menu:</h3>
<ol>
	<li>View your collection of <a href='/books'>books</a></li>
	<li>View your collection of <a href='/authors'>authors</a></li>
	<li>View your collection of <a href='/genres'>genres</a></li>
</ol>
<br>
<h3>Account:</h3>
<ol>
	<li>Username: <%= @user.username %></li>
	<li>Email: <%= @user.email %></li>
	<li>Edit your user account <a href="/users/<%= @user.slug %>/edit">here</a></li>
	<br>
</ol>