<h1>Your Collection of Books:</h1>
<br>
<ol>
<% @books.each do |book| %>
  	<li>
  	  <a href="/books/<%= book.slug %>">"<%= book.title %>"</a>, 
  	  written by <%= book.author.name %>, 
  	  <% book.genres.each do |genre| %>
  	  	<%= genre.name %>
  	  <% end %>
  	  <br><br>
  	</li>
<% end %>  
</ol>
<br>
<br>
<br>
<a href="/logout">Log Out</a>
